<h3>My Seminar Group(s)</h3>
<hr>
{% if groups %}
    {% for group in groups %}
        <div class="card mb-3">
            <div class="card-header">
                Group {{ group.id }} - Seminar: {{ group.seminar.course_code }}
            </div>
            <div class="card-body">
                <ul>
                    {% for member in group.students.all %}
                        <li>{{ member.user.get_full_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>You are not yet assigned to any group.</p>
{% endif %}
