<!-- templates/students_templates/profile.html -->




<div class="card shadow-sm mx-auto mt-4" style="max-width: 600px;">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">Student Profile</h3>

        {% comment %} <p><strong>Name:</strong> {{ student.user.first_name }} {{ student.user.last_name }}</p> {% endcomment %}
        <p><strong>Username:</strong> {{ student.user.username }}</p>
        <p><strong>Email:</strong> {{ student.user.email }}</p>
        <p><strong>Phone Number:</strong> {{ student.phone_number }}</p>
        <p><strong>Registration Number:</strong> {{ student.registration_number }}</p>
        <p><strong>Program:</strong>
            <span class="badge bg-info text-dark">
                {{ student.get_program_display }}
            </span>
        </p>

        
    </div>
</div>

